@charset "euc-jp";

#base_gmoWrapp,
#gmo_CMSPbar {
  overflow: hidden;
  min-width: 100% !important;
  width: 100% !important;
}

form {
  margin: 0;
}

.row {
  max-width: 1170px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 1px solid #ccc;
  background-color: #fff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  outline: 0;
  outline: thin dotted \9;
  border-color: rgba(82, 168, 236, 0.8);
}


.muted {
  color: #999;
}

a.muted:hover,
a.muted:focus {
  color: #808080;
}

.text-warning {
  color: #c09853;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}

.text-error {
  color: #b94a48;
}

a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}

.text-info {
  color: #3a87ad;
}

a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}

.text-success {
  color: #468847;
}

a.text-success:hover,
a.text-success:focus {
  color: #356635;
}

.btn-01 {
  border: 1px solid <{$btn_01_bgcolor}>;
  background-color: <{$btn_01_bgcolor}>;
  color: <{$btn_01_font_color}>;
  *background-color: <{$btn_01_bgcolor}>;
}

.btn-01:hover,
.btn-01:focus,
.btn-01:active,
.btn-01.active,
.btn-01.disabled,
.btn-01[disabled] {
  border: 1px solid <{$btn_01_bgcolor_hover}>;
  background-color: <{$btn_01_bgcolor_hover}>;
  color: <{$btn_01_font_color}>;
  *background-color: <{$btn_01_bgcolor_hover}>;
}

.btn-02 {
  border: 1px solid <{$btn_02_bgcolor}>;
  background-color: <{$btn_02_bgcolor}>;
  color: <{$btn_02_font_color}>;
  *background-color: <{$btn_02_bgcolor}>;
}

.btn-02:hover,
.btn-02:focus,
.btn-02:active,
.btn-02.active,
.btn-02.disabled,
.btn-02[disabled] {
  border: 1px solid <{$btn_02_bgcolor_hover}>;
  background-color: <{$btn_02_bgcolor_hover}>;
  color: <{$btn_02_font_color}>;
  *background-color: <{$btn_02_bgcolor_hover}>;
}

.btn-03 {
  border: 1px solid <{$btn_03_bgcolor}>;
  background-color: <{$btn_03_bgcolor}>;
  color: <{$btn_03_font_color}>;
  *background-color: <{$btn_03_bgcolor}>;
}

.btn-03:hover,
.btn-03:focus,
.btn-03:active,
.btn-03.active,
.btn-03.disabled,
.btn-03[disabled] {
  border: 1px solid <{$btn_03_bgcolor_hover}>;
  background-color: <{$btn_03_bgcolor_hover}>;
  color: <{$btn_03_font_color}>;
  *background-color: <{$btn_03_bgcolor_hover}>;
}

button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

.btn-link,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-link {
  border-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  color: #0088cc;
  cursor: pointer;
}

.btn-link:hover,
.btn-link:focus {
  background-color: transparent;
  color: #005580;
  text-decoration: underline;
}

.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
          border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
          border-bottom-left-radius: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
          border-bottom-right-radius: 4px;
}



.alert {
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #fcf8e3;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-success {
  border-color: #d6e9c6;
  background-color: #dff0d8;
  color: #468847;
}

.alert-danger,
.alert-error {
  border-color: #eed3d7;
  background-color: #f2dede;
  color: #b94a48;
}

#pagetop {
  height: 54px;
  padding: 0;
  display: none;
  overflow: hidden;
}
#pagetop a {
  display: block;
  padding: 15px;
}
#pagetop img {
  width: 24px;
  height: auto;
}


/* ========================================
      PCの場合
======================================== */

body {
  background-color: <{$page_bgcolor}>;
  color: <{$font_color}>;
}

a {
  color: <{$link_normal}>;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

a:hover {
  color: <{$link_hover}>;
}

/* アイコン */
.icon {
  display: inline-block;
  padding-left: 16px;
  line-height: 1.5;
}

.icon:before {
  display: block;
  float: left;
  margin-left: -16px;
  width: 16px;
  height: 16px;
  background-image: url(https://img.shop-pro.jp/tmpl_img/68/icon_16-b.png);
  background-size: 16px 160px;
  background-repeat: no-repeat;
  content: "";
}

/* PC でアイコンを白にする場合 */
.icon-white .icon:before {
  background-image: url(https://img.shop-pro.jp/tmpl_img/68/icon_16-w.png);
}

/* アイコンの種類 */
.icon-cart:before { background-position: 0 0; }
.icon-search:before { background-position: 0 -16px; }
.icon-user:before { background-position: 0 -32px; }
.icon-down:before { margin: 5px 5px 0 0; background-position: 0 -64px; }
.icon-up:before { background-position: 0 -48px; }
.icon-right:before { background-position: 0 -80px; }
.icon-left:before { background-position: 0 -96px; }
.icon-regist:before { background-position: 0 -112px; }
.icon-login:before { background-position: 0 -144px; }
.icon-logout:before { background-position: 0 -128px; }

.text-block {
  line-height: 2;
}

.ttl-h2 {
  margin:0 0 1em 0;
  color: <{$link_normal}>;
  font-weight: normal;
  font-size: 160%;
  line-height: 1.5;
}
.ttl-h3 {
  margin-bottom: .7em;
  padding: 20px 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  color: <{$link_normal}>;
  font-weight: normal;
  font-size: 124%;
}

#container {
  z-index: 101;
  padding-top: 40px;
}

/* スライダー */

#sliderbutton {
  position: absolute;
  left: 1%;
  z-index: 200;
  display: none;
}
.slider-btn {
  display: block;
  padding: 20px 50px;
  font-size: 20px;
}

/* ヘッダー */
#header {
  position: relative;
  z-index: 102;
}

.header-headline-nav {
  font-size: 13px;
}
.header-headline-nav .icon:before {
  margin-left: -20px;
}
.header-headline-nav ul {
  margin: 7px 20px 0 0;
}
.header-headline-nav li {
  display: inline;
  margin: 0 10px;
  padding: 0;
  vertical-align: top;
  font-size: 13px;
}
  .header-headline-nav li a {
    padding-left: 20px;
    color: <{$header_link}>;
    text-decoration: none;
    font-weight: normal;
  }

.btn-viewcart {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
  .btn-viewcart .icon {
    padding-left: 20px;
  }
  .btn-viewcart .icon:before {
    margin-top: 1px;
  }

#header-wrapper {
  z-index: 102;
  position: relative;
}
.header-logo {
	float: left;
}

.header-logo img {
    text-decoration: none;
    margin-top: 18px;
    margin-bottom: 18px;
    width: 100px;
    height: 40px;
  }
  .header-logo a:hover {
    text-decoration: underline;
  }
 
.pull-right-box {
  	margin: 30px 0 0;
}

.header-global-nav {
  z-index: 100;
  float: right;
}
  .header-global-nav ul {
    margin-top: 25px;
  }
  .header-global-nav li {
    position: relative;
    display: inline;
    padding: 0 15px;
    vertical-align: top;
  }
  .header-global-nav a,
  .header-global-nav span {
    padding-bottom: 5px;
    color: <{$header_link}>;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    cursor: pointer;
  }
    .header-global-nav ul ul {
      position: absolute;
      top: -1px;
      left: 5px;
      display: none;
      vertical-align: baseline;
      width: 200px;
      border: 1px solid #e8e8e8;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
      .header-global-nav ul ul li {
        display: block;
        margin: 0;
        padding: 0;
        word-break: break-all;
        *line-height: 1.3;
      }
      .header-global-nav ul ul a {
        border-bottom: 1px solid #e8e8e8;
        background: #fff;
        display: block;
        padding: 10px 10px;
        font-size: 14px;
      }
      .header-global-nav ul ul a:hover {
        background: #f9f9f9;
      }


/* スマホ用ヘッダーメニュー */
.header-nav-phone {
  z-index: 99;
  float: right;
  height: 60px;
}
.header-nav-lst-phone {
  position: absolute;
  left: 50%;
  display: none;
  margin-left: -50%;
  width: 100%;
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
}
.header-nav-lst-phone ul {
  margin: 0;
}
.header-nav-lst-phone li {
  padding: 0;
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
}
.header-nav-lst-phone li:last-child {
  border-bottom: none;
}
.header-nav-lst-phone a {
  display: block;
  padding: 20px 0;
}
.header-nav-lst-phone a:hover {
  background: #f9f9f9;
  text-decoration: none;
}


/* ----- サイドメニュー ----- */
.side-section {
  margin-bottom: 40px;
}
.side-section li {
  margin: 20px 0;
}
  .side-section li a {
    color: <{$side_link}>;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
  }
  .side-section li a:hover {
    text-decoration: underline;
  }
  .incart-delivery {
    clear: both;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 8px;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #eeab53;
  }
  .incart-delivery ul {
    margin: 0;
  }
  .incart-delivery li {
    padding: 2px 0;
    margin: 0;
  }
  .incart-delivery li:first-child {
    border-top: none;
  }
  .search-select {
    margin-bottom: 10px;
  }
  .search-box {
    float: left;
    width: 65%;
  }
  .search-btn[type="submit"] {
    float: right;
    padding: 4px 0;
    width: 25%;
  }
  .side-category-name,
  .side-group-name {
    display: block;
    margin-top: 10px;
  }

/* パンくずリスト */
.topicpath-nav {
  margin-bottom: 20px;
  font-size: 84.615%;
}
  .topicpath-nav li {
    display: inline;
    margin-right: .2em;
  }
  .topicpath-nav li a {
    margin-left: .2em;
    color: #444;
    text-decoration: none;
  }
  .topicpath-nav li a:hover {
    text-decoration: underline;
  }

/* 囲み */
.container-section {
  margin-bottom: 3em;
  word-break: break-all;
}

.eyecatch-block,
.info-block,
.recommend-block,
.bestseller-block,
.free_space_block {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #dbdbdb;
  word-break: break-all;
}

.info-block {
  line-height: 1.5;
}

.news {
  padding: 4px 0;
}

.news-date {
  padding-right: 10px;
}

.main-section {
  padding-left: 3 0px;
}

/* 商品リスト */
.prd-lst-sort {
  margin: 20px 0;
}

.prd-lst-unit {
  margin-bottom: 60px;
  padding: 0 30px 0 10px;
}

.prd-lst-img {
  background: #fff;
}
  .prd-lst-img:hover {
    opacity: 0.8;
  }

.prd-lst-span {
  display: block;
}
.prd-lst-name {
  margin: 10px 0 6px 0;
  padding: 0;
  font-size: 17px;
  font-size: 15px;
}
.prd-lst-exp {
  font-size: 13px;
}
.prd-lst-regular {
  font-size: 13px;
  text-decoration: line-through;
}
.prd-lst-price {
  color: #a1a19f;
  font-size: 13px;
}
.prd-lst-discount {
  color: #b81717;
}

.prd-lst-soldout {
  color: #b81717;
}

.more-prd {
  clear: both;
}

/* 商品のページャー PC */
.prd-lst-pager {
  position: relative;
  overflow: hidden;
}
  .prd-lst-pager ul {
    position: relative;
    left: 50%;
    float: left;
    padding-top: 15px;
  }
  .prd-lst-pager li {
    position: relative;
    left: -50%;
    float: left;
    margin-right: 4px;
    text-align: center;
    line-height: 26px;
  }
  .prd-lst-pager li a,
  .prd-lst-pager li span {
    display: block;
    float: left;
    min-width: 26px;
    height: 26px;
    box-sizing: border-box;
    padding: 0 .5em;
  }
  .prd-lst-pager li a {
    border: 1px solid <{$btn_02_bgcolor}>;
    background-color: <{$btn_02_bgcolor}>;
    color: <{$btn_02_font_color}>;
    text-decoration: none;
  }
  .prd-lst-pager li a:hover {
    border: 1px solid <{$btn_02_bgcolor_hover}>;
    background-color: <{$btn_02_bgcolor_hover}>;
  }
  .prd-lst-pager li span {
    border: 1px solid #c6c6c6;
    background-color: #fff;
    color: #c6c6c6;
  }

/* 商品のページャー タブレット スマホ */
.prd-lst-pager-phone {
  text-align: center;
}
  .prd-lst-pager-phone li {
    display: inline;
    margin: 0 10px;
  }
  .prd-lst-pos {
    margin-top: 20px;
  }
  .prd-lst-pos b {
    font-weight: bold;
    font-size: 18px;
  }

/* フッター */
#pagetop {
  width: 49px;
  position: fixed;
  right: 0;
  bottom: 200px;
  z-index: 200;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#pagetop a {
  padding-right: 10px;
}
.notice-wrapper {
  margin-top: 100px;
  padding: 40px 0;
  border-top: 1px solid #e8e8e8;
  background: #f9f9f9;
}
.wookmark-wrapper {
  position: relative;
}
.wookmark-item {
  padding-bottom: 20px;
  width: 24.5%;
  *width: 20.5%;
  *padding-right: 2% !important;
  *padding-left: 2% !important;
}

/* フッター背景 */
.footer-wrapper {
  padding: 40px 0;
  border-top: 1px solid #d8d8d2;
  border-bottom: 1px solid #d8d8d2;
  background: #ebebe6;
}

.footer-lst {
  padding: 30px 0 0 40px;
}
  .footer-lst li {
    margin: 20px 0;
  }
  .footer-lst a {
    color: <{$footer_link}>;
  }

/* ショップ紹介 */
.manager-name {
  margin: 0 0 20px 0;
  font-size: 20px;
}

.manager-caption {
  padding: 0 40px 0 20px;
  border-right: 1px solid #dbdbdb;
}

/* カレンダー */
.tbl_calendar {
  margin-bottom: 20px;
  max-width: 260px;
  width: 100%;
  font-size: 84.615%;
}
  .tbl_calendar caption {
    text-align: center;
  }
  .tbl_calendar th {
    padding: .3em 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  .tbl_calendar td {
    padding: .5em 0;
    width: 14.2%;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
.cal_memo {
  margin-top: 1em;
  font-size: 84.615%;
}

/* copyright */
.copyright {
  clear: both;
  margin: 0;
  padding: 2em 0;
  color: #a1a19f;
  text-align: center;
  font-style: normal;
}
.powered {
  display: block;
  padding: 10px 0;
  line-height: 18px;
}
  .powered a {
    color: #a1a19f;
    text-decoration: none;
    font-size: 11px;
  }
  .powered img {
    margin-bottom: 10px;
    margin-left: 4px;
    width: 200px;
    height: 18px;
  }

/* list */
.def-lst-dt {
  padding-top: 1em;
  font-weight: bold;
}
.def-lst-dd {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
  line-height: 2;
}
  .def-lst-dd img {
    max-width: 100%;
    width: inherit;
    height: auto;
  }

/* policy */
#policy p {
  margin: 1em 0;
  color: #666;
  line-height: 1.8;
}

/* freepage */
.freepage {
  word-break: break-all;
}
  .freepage img {
    max-width: 100%;
    width: inherit;
    height: auto;
  }

/* ========================================
      PCかつRetinaの場合
======================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz--device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon:before {
      background-image: url(https://img.shop-pro.jp/tmpl_img/68/icon_16-2x-b.png);
    }

    /* PCかつRetinaでアイコンを白にする場合 */
    .icon-white .icon:before {
      background-image: url(https://img.shop-pro.jp/tmpl_img/68/icon_16-2x-w.png);
    }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* ========================================
      タブレットの場合
======================================== */
@media only screen and (max-width: 980px) {
  #sliderbutton {
    left: 3%;
  }
  /* ヘッダー */
  #header {
    padding-top: 0;
  }
  .header-nav-phone {
    margin-right: 10px;
  }
  .header-nav-phone {
    margin-right: 0;
  }
  .nav-btn-phone {
    display: block;
    height: 60px;
  }
    .nav-btn-phone img {
      width: 40px;
      height: 60px;
    }
  .search-box {
    width: 55%;
  }
  .search-btn[type="submit"] {
    width: 35%;
  }
  .side-section ul li {
    margin: 0;
  }
  .side-section ul li a {
    display: block;
    padding: 10px 0;
  }
  .side-section ul li a:hover {
    text-decoration: none;
  }

  /* ========================================
        タブレットかつRetinaの場合
  ======================================== */
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz--device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon:before {
        background-image: url(https://img.shop-pro.jp/tmpl_img/68/icon_24-2x-b.png);
    }

    /* スマホかつRetinaでアイコンを白にする場合 */
    .icon-white .icon:before {
      background-image: url(https://img.shop-pro.jp/tmpl_img/68/icon_24-2x-w.png);
    }
  }
}

/* ========================================
      スマホの場合
======================================== */
@media only screen and (max-width: 768px) {
  .icon {
    padding-left: 24px;
    line-height: 2;
  }
  .icon:before {
    margin-left: -24px;
    width: 24px;
    height: 24px;
    background-image: url(https://img.shop-pro.jp/tmpl_img/68/icon_24-b.png);
  }

  /* スマホでアイコンを白にする場合 */
  .icon-white .icon:before {
    background-image: url(https://img.shop-pro.jp/tmpl_img/68/icon_24-w.png);
  }

  .icon-cart:before { background-position: 0; }
  .icon-search:before { background-position: 0 -24px; }
  .icon-user:before { background-position: 0 -48px; }
  .icon-down:before {
    margin: 5px 0 0 -20px;
    margin: 10px 0 0 -17px; margin-top: 5px;
    height: 23px;
    height: 23px;
    background-position: 0 -59px;
  }
  .icon-up:before {
    margin: 5px 0 0 -20px;
    height: 23px;
    background-position: 0 -38px;
  }
  .icon-right:before { background-position: 0 -120px; }
  .icon-left:before { background-position: 0 -144px; }

  .eyecatch-block,
  .info-block,
  .recommend-block,
  .bestseller-block,
  .free_space_block {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
  }

  .ttl-h3 {
    position: relative;
    margin: 0 0 20px 0;
  }

  .header-logo {
    padding-top: 10px;
  }
  .header-logo {
    width: 60%;
  }

  /* スライダー */
  .bx-prev,
  .bx-next {
    display: none;
  }
  #sliderbutton {
    left: 20px;
  }
  .slider-btn {
    padding: 4px 10px;
    font-size: 13px;
  }

  /* スマホ用メニュー */
  .menu-btn-phone {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .menu-btn-phone .icon {
    padding-left: 0;
  }
  .menu-btn-phone.icon-down:before {
    float: right;
    margin-left: 0;
  }
  .menu-btn-phone.icon-up:before {
    float: right;
    margin-left: 0;
  }

  /* メイン */
  .main-section {
    padding-left: 0;
  }

  /* サイドメニュー */
  .side-search {
    width: 185px;
  }
  .search-box {
    width: 70%;
  }
  .search-btn[type="submit"] {
    width: 20%;
  }

  /* 商品 */
  .prd-lst-unit {
    margin-bottom: 30px;
    padding: 0 10px 0 10px;
  }
  .prd-lst-sort {
    text-align: center;
  }

  /* フッター */
  #pagetop {
    width: 54px;
    margin: 30px auto;
    display: block !important;
    position: static;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  #pagetop a {
    padding-right: 15px;
  }
  .footer-wrapper {
    margin-top: 20px;
    padding: 20px 0 0 0;
  }
  .manager-name {
    text-align: center;
  }
  .manager-caption {
    padding: 20px 10px;
    border-right: none;
  }
  .footer-lst {
    margin: 0 -20px;
    padding: 0;
    width: auto;
    background: #4d4d4d;
  }
    .footer-lst li {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #444444;
    }
    .footer-lst li:nth-child(odd) {
      border-right: 1px solid #444444;
    }
    .footer-lst a {
      display: block;
      padding: 12px 10px;
      color: #fff;
      text-decoration: none;
      font-size: 11px;
    }
  .copyright {
    font-size: 10px;
  }
  /* ========================================
        スマホかつRetinaの場合
  ======================================== */
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz--device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .icon:before {
        background-image: url(https://img.shop-pro.jp/tmpl_img/68/icon_24-2x-b.png);
      }

      /* スマホかつRetinaでアイコンを白にする場合 */
      .icon-white .icon:before {
        background-image: url(https://img.shop-pro.jp/tmpl_img/68/icon_24-2x-w.png);
      }
  }
}

/* IE用 */
.ie_wrapper .container {
  width: 1170px;
}
 
.right li {
  color: white;
}